<a href="https://colab.research.google.com/github/thejesht/Deep-Learning-Car-Brand/blob/master/Telegram_BTCUSDT_BinaryClassification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#importing necessary libraries
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('Binance_BTCUSDT_minute.csv', low_memory=False) #reading candlestick data for token: BTC-USDT from exchange: binance

In [4]:
df.shape #inspecting features of dataset

(1004820, 10)

In [5]:
df.head() #visualising dataset

           unix              date  ...   Volume USDT  tradecount
0  1.628560e+12  10/08/2021 00:35  ...  9.802980e+05       699.0
1  1.628560e+12  10/08/2021 00:34  ...  1.771499e+06       689.0
2  1.628560e+12  10/08/2021 00:33  ...  2.199032e+06       827.0
3  1.628560e+12  10/08/2021 00:32  ...  3.145916e+06      1004.0
4  1.628560e+12  10/08/2021 00:31  ...  1.925150e+06       836.0

[5 rows x 10 columns]

In [6]:
df.tail()

         unix date symbol  open  ...  close  Volume BTC  Volume USDT  tradecount
1004815   NaN  NaN    NaN   NaN  ...    NaN         NaN          NaN         NaN
1004816   NaN  NaN    NaN   NaN  ...    NaN         NaN          NaN         NaN
1004817   NaN  NaN    NaN   NaN  ...    NaN         NaN          NaN         NaN
1004818   NaN  NaN    NaN   NaN  ...    NaN         NaN          NaN         NaN
1004819   NaN  NaN    NaN   NaN  ...    NaN         NaN          NaN         NaN

[5 rows x 10 columns]

In [7]:
df.isnull().sum() #checking for null values in dataset

unix           75
date           75
symbol         75
open           75
high           75
low            75
close          75
Volume BTC     75
Volume USDT    75
tradecount     75
dtype: int64

In [8]:
df.dropna(inplace =True) #dropping null values in dataset

In [9]:
df.isnull().sum()

unix           0
date           0
symbol         0
open           0
high           0
low            0
close          0
Volume BTC     0
Volume USDT    0
tradecount     0
dtype: int64

In [10]:
df.rename(columns={'date': 'TimeStamp'}, inplace=True) #renaming attribute date to TimeStamp

In [11]:
df.head()

           unix         TimeStamp  ...   Volume USDT  tradecount
0  1.628560e+12  10/08/2021 00:35  ...  9.802980e+05       699.0
1  1.628560e+12  10/08/2021 00:34  ...  1.771499e+06       689.0
2  1.628560e+12  10/08/2021 00:33  ...  2.199032e+06       827.0
3  1.628560e+12  10/08/2021 00:32  ...  3.145916e+06      1004.0
4  1.628560e+12  10/08/2021 00:31  ...  1.925150e+06       836.0

[5 rows x 10 columns]

In [12]:
df1= df[['TimeStamp', 'symbol','close']] #filtering out attributes which are relevant for further processing
df1.head()

          TimeStamp    symbol     close
0  10/08/2021 00:35  BTC/USDT  46035.04
1  10/08/2021 00:34  BTC/USDT  46092.18
2  10/08/2021 00:33  BTC/USDT  46090.16
3  10/08/2021 00:32  BTC/USDT  46078.63
4  10/08/2021 00:31  BTC/USDT  46179.35

In [13]:
df1['TimeStamp'] = pd.to_datetime(df1.TimeStamp, format='%d/%m/%Y %H:%M')#type conversion

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df1.head()

            TimeStamp    symbol     close
0 2021-08-10 00:35:00  BTC/USDT  46035.04
1 2021-08-10 00:34:00  BTC/USDT  46092.18
2 2021-08-10 00:33:00  BTC/USDT  46090.16
3 2021-08-10 00:32:00  BTC/USDT  46078.63
4 2021-08-10 00:31:00  BTC/USDT  46179.35

In [15]:
df1.shape

(1004745, 3)

In [16]:
df1 = df1[(df1['TimeStamp'] > '01/01/2019') & (df1['TimeStamp'] <= '08/01/2021')] #filtering token prices in dataframe by date

In [17]:
df1.shape #examining dimensions of the filtered dataset

(991750, 3)

In [18]:
df1.head()

                TimeStamp    symbol     close
12995 2021-08-01 00:00:00  BTC/USDT  41427.76
12996 2021-07-31 23:59:00  BTC/USDT  41461.83
12997 2021-07-31 23:58:00  BTC/USDT  41593.93
12998 2021-07-31 23:57:00  BTC/USDT  41692.32
12999 2021-07-31 23:56:00  BTC/USDT  41700.00

In [19]:
df1.tail()

                  TimeStamp    symbol     close
1004740 2019-09-08 19:17:00  BTC/USDT  10350.97
1004741 2019-09-08 19:16:00  BTC/USDT  10347.91
1004742 2019-09-08 19:15:00  BTC/USDT  10345.41
1004743 2019-09-08 19:14:00  BTC/USDT  10345.41
1004744 2019-09-08 19:13:00  BTC/USDT  10345.41

In [20]:
df1['close_5min'] = df1.close.shift(5) #creating additional columns representing future token price by time limits 5m,10,15m,30m,60m and 120m
df1['close_10min'] = df1.close.shift(10)
df1['close_15min'] = df1.close.shift(15)
df1['close_30min'] = df1.close.shift(30)
df1['close_60min'] = df1.close.shift(60)
df1['close_120min'] = df1.close.shift(120)

In [21]:
df1.head(10)

                TimeStamp    symbol  ...  close_60min  close_120min
12995 2021-08-01 00:00:00  BTC/USDT  ...          NaN           NaN
12996 2021-07-31 23:59:00  BTC/USDT  ...          NaN           NaN
12997 2021-07-31 23:58:00  BTC/USDT  ...          NaN           NaN
12998 2021-07-31 23:57:00  BTC/USDT  ...          NaN           NaN
12999 2021-07-31 23:56:00  BTC/USDT  ...          NaN           NaN
13000 2021-07-31 23:55:00  BTC/USDT  ...          NaN           NaN
13001 2021-07-31 23:54:00  BTC/USDT  ...          NaN           NaN
13002 2021-07-31 23:53:00  BTC/USDT  ...          NaN           NaN
13003 2021-07-31 23:52:00  BTC/USDT  ...          NaN           NaN
13004 2021-07-31 23:51:00  BTC/USDT  ...          NaN           NaN

[10 rows x 9 columns]

In [22]:
df1.tail(10)

                  TimeStamp    symbol  ...  close_60min  close_120min
1004735 2019-09-08 19:22:00  BTC/USDT  ...     10361.27      10335.96
1004736 2019-09-08 19:21:00  BTC/USDT  ...     10362.53      10334.74
1004737 2019-09-08 19:20:00  BTC/USDT  ...     10357.04      10335.79
1004738 2019-09-08 19:19:00  BTC/USDT  ...     10357.15      10330.70
1004739 2019-09-08 19:18:00  BTC/USDT  ...     10357.50      10326.52
1004740 2019-09-08 19:17:00  BTC/USDT  ...     10357.53      10324.77
1004741 2019-09-08 19:16:00  BTC/USDT  ...     10360.08      10325.62
1004742 2019-09-08 19:15:00  BTC/USDT  ...     10359.96      10327.47
1004743 2019-09-08 19:14:00  BTC/USDT  ...     10358.96      10329.80
1004744 2019-09-08 19:13:00  BTC/USDT  ...     10359.93      10328.19

[10 rows x 9 columns]

In [23]:
df1.isnull().sum()

TimeStamp         0
symbol            0
close             0
close_5min        5
close_10min      10
close_15min      15
close_30min      30
close_60min      60
close_120min    120
dtype: int64

In [24]:
df1.shape

(991750, 9)

In [25]:
df1.dropna(inplace =True) #dropping null values from dataset
df1.shape

(991630, 9)

In [26]:
df1['diff_5min']= df1['close'] - df1['close_5min'] #creating columns that capture difference between current and future price within above specified time intervals 
df1['diff_10min']= df1['close'] - df1['close_10min']
df1['diff_15min']= df1['close'] - df1['close_15min']
df1['diff_30min']= df1['close'] - df1['close_30min']
df1['diff_60min']= df1['close'] - df1['close_60min']
df1['diff_120min']= df1['close'] - df1['close_120min']

In [27]:
df1.head(10)

                TimeStamp    symbol  ...  diff_60min  diff_120min
13115 2021-07-31 22:00:00  BTC/USDT  ...       55.87       449.12
13116 2021-07-31 21:59:00  BTC/USDT  ...       97.95       500.04
13117 2021-07-31 21:58:00  BTC/USDT  ...      114.80       368.47
13118 2021-07-31 21:57:00  BTC/USDT  ...      108.22       257.49
13119 2021-07-31 21:56:00  BTC/USDT  ...       95.63       220.01
13120 2021-07-31 21:55:00  BTC/USDT  ...       24.83       275.04
13121 2021-07-31 21:54:00  BTC/USDT  ...       47.25       282.46
13122 2021-07-31 21:53:00  BTC/USDT  ...        3.40       193.11
13123 2021-07-31 21:52:00  BTC/USDT  ...       11.46       168.47
13124 2021-07-31 21:51:00  BTC/USDT  ...      -29.46       144.47

[10 rows x 15 columns]

In [28]:
df1['indicator_5min'] = np.where(df1['diff_5min'] > 0, 1, -1) #creating columns that capture uptick and downtick of signals for binary classification task
df1['indicator_10min'] = np.where(df1['diff_10min'] > 0, 1, -1)
df1['indicator_15min'] = np.where(df1['diff_15min'] > 0, 1, -1)
df1['indicator_30min'] = np.where(df1['diff_30min'] > 0, 1, -1)
df1['indicator_60min'] = np.where(df1['diff_60min'] > 0, 1, -1)
df1['indicator_120min'] = np.where(df1['diff_120min'] > 0, 1, -1)

In [29]:
df1['indicator_5min'].value_counts() #examining distribution of upticks and downticks

-1    497522
 1    494108
Name: indicator_5min, dtype: int64

In [30]:
df1['indicator_10min'].value_counts()

-1    499091
 1    492539
Name: indicator_10min, dtype: int64

In [31]:
df1['indicator_15min'].value_counts()

-1    500585
 1    491045
Name: indicator_15min, dtype: int64

In [32]:
df1['indicator_30min'].value_counts()

-1    503495
 1    488135
Name: indicator_30min, dtype: int64

In [33]:
df1['indicator_60min'].value_counts()

-1    507536
 1    484094
Name: indicator_60min, dtype: int64

In [34]:
df1['indicator_120min'].value_counts()

-1    510379
 1    481251
Name: indicator_120min, dtype: int64

In [35]:
df1.head()

                TimeStamp    symbol  ...  indicator_60min  indicator_120min
13115 2021-07-31 22:00:00  BTC/USDT  ...                1                 1
13116 2021-07-31 21:59:00  BTC/USDT  ...                1                 1
13117 2021-07-31 21:58:00  BTC/USDT  ...                1                 1
13118 2021-07-31 21:57:00  BTC/USDT  ...                1                 1
13119 2021-07-31 21:56:00  BTC/USDT  ...                1                 1

[5 rows x 21 columns]

In [36]:
df1.tail()

                  TimeStamp    symbol  ...  indicator_60min  indicator_120min
1004740 2019-09-08 19:17:00  BTC/USDT  ...               -1                 1
1004741 2019-09-08 19:16:00  BTC/USDT  ...               -1                 1
1004742 2019-09-08 19:15:00  BTC/USDT  ...               -1                 1
1004743 2019-09-08 19:14:00  BTC/USDT  ...               -1                 1
1004744 2019-09-08 19:13:00  BTC/USDT  ...               -1                 1

[5 rows x 21 columns]

In [37]:
df1.info() #attibute - datatype information

<class 'pandas.core.frame.DataFrame'>
Int64Index: 991630 entries, 13115 to 1004744
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   TimeStamp         991630 non-null  datetime64[ns]
 1   symbol            991630 non-null  object
 2   close             991630 non-null  float64
 3   close_5min        991630 non-null  float64
 4   close_10min       991630 non-null  float64
 5   close_15min       991630 non-null  float64
 6   close_30min       991630 non-null  float64
 7   close_60min       991630 non-null  float64
 8   close_120min      991630 non-null  float64
 9   diff_5min         991630 non-null  float64
 10  diff_10min        991630 non-null  float64
 11  diff_15min        991630 non-null  float64
 12  diff_30min        991630 non-null  float64
 13  diff_60min        991630 non-null  float64
 14  diff_120min       991630 non-null  float64
 15  indicator_5min    991630 non-null  int64
 16  indicator_10min   991630 non-null  int64
 17  indicator_15min   991630 non-null  int64
 18  indicator_30min   991630 non-null  int64
 19  indicator_60min   991630 non-null  int64
 20  indicator_120min  991630 non-null  int64
dtypes: datetime64[ns](1), float64(13), int64(6), object(1)
memory usage: 166.4+ MB

In [39]:
df2=pd.read_csv('text_final.csv') #reading dataset containing telegram messages

In [41]:
df2.head(10) #visualising dataset

             TimeStamp  ...                                            Message
0  2019-01-01 05:54:17  ...  ❗ READ INSTRUCTIONS BELOW❗\n\n1) Sign up to Yo...
1  2019-01-01 06:03:21  ...  Buy DLT between 950-990 satoshi.\n \nIn consol...
2  2019-01-01 06:03:32  ...  DLT signal was given in VIP channel 10 hours b...
3  2019-01-01 06:29:39  ...  #CryptoNews\nAfrica now accounts for the highe...
4  2019-01-01 08:00:32  ...  ℹ Coin signal information ℹ\n\nDate: Tuesday, ...
5  2019-01-01 09:46:30  ...  It is a Coindesk’s Influencer List or a paid c...
6  2019-01-01 10:00:22  ...  ℹ️ 7 HOURS UNTIL THE COIN TO BUY IS RELEASED ℹ...
7  2019-01-01 10:39:32  ...  #DLT signal given few days back..n buy signal ...
8  2019-01-01 11:00:20  ...  🔥 Last 4 hours 30 mins to the binance pump !!!...
9  2019-01-01 12:30:05  ...  🚀 Today we're going to do two special pumps fo...

[10 rows x 3 columns]

In [42]:
df1['TimeStamp'] = pd.to_datetime(df1['TimeStamp']) #type conversion of attribute timestamp
df2['TimeStamp'] = pd.to_datetime(df2['TimeStamp'])

In [43]:
df2.TimeStamp = df2.TimeStamp.map(lambda x: x.replace(second=0)) #replacing seconds under attribute timestamp in dataframe text_final to index with token price

In [44]:
df2.head()

            TimeStamp  ...                                            Message
0 2019-01-01 05:54:00  ...  ❗ READ INSTRUCTIONS BELOW❗\n\n1) Sign up to Yo...
1 2019-01-01 06:03:00  ...  Buy DLT between 950-990 satoshi.\n \nIn consol...
2 2019-01-01 06:03:00  ...  DLT signal was given in VIP channel 10 hours b...
3 2019-01-01 06:29:00  ...  #CryptoNews\nAfrica now accounts for the highe...
4 2019-01-01 08:00:00  ...  ℹ Coin signal information ℹ\n\nDate: Tuesday, ...

[5 rows x 3 columns]

In [45]:
df2.tail()

                TimeStamp  ...                                            Message
43232 2021-07-31 16:42:00  ...  #Bitcoin (BTC) Closes 10 Daily-Green Candles i...
43233 2021-07-31 17:20:00  ...  You Can Buy Some #WRX Around 1.12$\n \nFundame...
43234 2021-07-31 19:18:00  ...  Bitstamp CEO is “Blown Away” by the Rising Eth...
43235 2021-07-31 21:55:00  ...  Wealthfront ($21 Billion AUM) Offers Cryptocur...
43236 2021-07-31 22:04:00  ...  Peter Schiff calls MicroStrategy’s Saylor “mad...

[5 rows x 3 columns]

In [46]:
df2.shape

(43237, 3)

In [47]:
df = pd.merge(df2, df1, on='TimeStamp',how = 'inner' ) #joining dataframe containing telegram data & binance token price information

In [48]:
df.shape

(37757, 23)

In [49]:
df.head() #visualising dataframe

            TimeStamp  ... indicator_120min
0 2019-09-08 19:29:00  ...                1
1 2019-09-08 20:16:00  ...               -1
2 2019-09-08 22:12:00  ...                1
3 2019-09-08 22:39:00  ...                1
4 2019-09-09 07:04:00  ...                1

[5 rows x 23 columns]

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37757 entries, 0 to 37756
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TimeStamp         37757 non-null  datetime64[ns]
 1   Channel_Name      37757 non-null  object
 2   Message           37757 non-null  object
 3   symbol            37757 non-null  object
 4   close             37757 non-null  float64
 5   close_5min        37757 non-null  float64
 6   close_10min       37757 non-null  float64
 7   close_15min       37757 non-null  float64
 8   close_30min       37757 non-null  float64
 9   close_60min       37757 non-null  float64
 10  close_120min      37757 non-null  float64
 11  diff_5min         37757 non-null  float64
 12  diff_10min        37757 non-null  float64
 13  diff_15min        37757 non-null  float64
 14  diff_30min        37757 non-null  float64
 15  diff_60min        37757 non-null  float64
 16  diff_120min       37757 non-null  float64
 17  indicator_5min    37757 non-null  int64
 18  indicator_10min   37757 non-null  int64
 19  indicator_15min   37757 non-null  int64
 20  indicator_30min   37757 non-null  int64
 21  indicator_60min   37757 non-null  int64
 22  indicator_120min  37757 non-null  int64
dtypes: datetime64[ns](1), float64(13), int64(6), object(3)
memory usage: 6.9+ MB

In [51]:
#filtering attributes for further analysis

In [52]:
df1=df[['TimeStamp','symbol','Message','indicator_5min','indicator_10min','indicator_15min','indicator_30min','indicator_60min','indicator_120min']]

In [53]:
df1.head()

            TimeStamp    symbol  ... indicator_60min  indicator_120min
0 2019-09-08 19:29:00  BTC/USDT  ...               1                 1
1 2019-09-08 20:16:00  BTC/USDT  ...               1                -1
2 2019-09-08 22:12:00  BTC/USDT  ...               1                 1
3 2019-09-08 22:39:00  BTC/USDT  ...               1                 1
4 2019-09-09 07:04:00  BTC/USDT  ...               1                 1

[5 rows x 9 columns]

In [54]:
df=df1[['TimeStamp','Message','indicator_15min']] #preparing dataframe for appplication of NLP methods

In [55]:
#importing necessary libraries to perform NLP data wrangling techniques
import numpy as np 
import re
import nltk
import spacy
import string

In [56]:
#Lower Casing - converting upper case to lower case letters
df['Message'] = df['Message'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [57]:
df.head()

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [58]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [59]:
string.digits

'0123456789'

In [60]:
# remove punctuations and digits for chat messages 
PUNCT_TO_REMOVE = string.punctuation + string.digits 

print(PUNCT_TO_REMOVE)

def remove_punctuations(text):
    for punctuation in PUNCT_TO_REMOVE:
        text = text.replace(punctuation,' ')
    return text

df['Message'] = df['Message'].apply(lambda text: remove_punctuations(text))

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~0123456789

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

In [61]:
df.head()

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [62]:
#importing libraries to remove stop words 
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [63]:
#removing stop words from chat messages 
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

df["Message"] = df["Message"].apply(lambda text: remove_stopwords(text))
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [64]:
#examine most repeated words within data collected 
from collections import Counter
cnt = Counter()
for text in df["Message"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(25)

[('n', 41443),
 ('com', 6623),
 ('binance', 6346),
 ('pump', 5983),
 ('btc', 5284),
 ('profit', 5141),
 ('bitcoin', 5098),
 ('nhttps', 4807),
 ('buy', 4603),
 ('price', 3686),
 ('coin', 3325),
 ('coingape', 3247),
 ('https', 2597),
 ('target', 2567),
 ('crypto', 2566),
 ('🚀', 2467),
 ('n✅', 2156),
 ('signal', 2033),
 ('x', 2031),
 ('hours', 2005),
 ('time', 1956),
 ('market', 1954),
 ('satoshi', 1744),
 ('💵', 1692),
 ('day', 1689)]

In [ ]:
#remove frequently repeated words from dataset
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])
def remove_freqwords(text):
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df["Message"] = df["Message"].apply(lambda text: remove_freqwords(text))
df.head()

In [65]:
#remove rare words from dataframe
n_rare_words = 10
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

df["Message"] = df["Message"].apply(lambda text: remove_rarewords(text))
df.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [66]:
#importing package to perform stemming 
from nltk.stem.porter import PorterStemmer

In [67]:
stemmer = PorterStemmer()
def stem_words(text):
    return " ".join([stemmer.stem(word) for word in text.split()])

df["Message"] = df["Message"].apply(lambda text: stem_words(text))
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [68]:
#importing package to perform lemmatization
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [ ]:
#function to perform lemmatization 
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

df["Message"] = df["Message"].apply(lambda text: lemmatize_words(text))
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

            TimeStamp  ... indicator_15min
0 2019-09-08 19:29:00  ...               1
1 2019-09-08 20:16:00  ...               1
2 2019-09-08 22:12:00  ...               1
3 2019-09-08 22:39:00  ...               1
4 2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [69]:
#removing emoticons & emojis from chat messages 
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))

In [70]:
df.head()

             TimeStamp  ... indicator_15min
0  2019-09-08 19:29:00  ...               1
1  2019-09-08 20:16:00  ...               1
2  2019-09-08 22:12:00  ...               1
3  2019-09-08 22:39:00  ...               1
4  2019-09-09 07:04:00  ...               1

[5 rows x 3 columns]

In [71]:
#removing most repeated word 'n', which might not be useful to our task  
df['Message'] = df['Message'].str.replace('n', '')
df.head(25)

              TimeStamp  ... indicator_15min
0   2019-09-08 19:29:00  ...               1
1   2019-09-08 20:16:00  ...               1
2   2019-09-08 22:12:00  ...               1
3   2019-09-08 22:39:00  ...               1
4   2019-09-09 07:04:00  ...               1
5   2019-09-09 07:45:00  ...               1
6   2019-09-09 07:59:00  ...               1
7   2019-09-09 08:59:00  ...              -1
8   2019-09-09 10:48:00  ...              -1
9   2019-09-09 11:05:00  ...              -1
10  2019-09-09 11:30:00  ...               1
11  2019-09-09 12:28:00  ...              -1
12  2019-09-09 12:32:00  ...               1
13  2019-09-09 13:15:00  ...              -1
14  2019-09-09 13:37:00  ...               1
15  2019-09-09 15:04:00  ...              -1
16  2019-09-09 15:23:00  ...              -1
17  2019-09-09 15:32:00  ...               1
18  2019-09-09 16:19:00  ...               1
19  2019-09-09 19:35:00  ...              -1
20  2019-09-09 21:00:00  ...              -1
21  2019-09-09 21:25:00  ...               1
22  2019-09-10 02:03:00  ...               1
23  2019-09-10 03:52:00  ...               1
24  2019-09-10 04:37:00  ...               1

[25 rows x 3 columns]

In [175]:
#importing train test package from sklearn 
from sklearn.model_selection import train_test_split

In [176]:
y=df['indicator_15min']

In [177]:
X_train, X_val, y_train, y_val = train_test_split(df['Message'], y,random_state=42, test_size=0.2, shuffle=True)

In [178]:
y_train.value_counts()

1     15231
-1    14974
Name: indicator_15min, dtype: int64

In [179]:
y_val.value_counts()

1     3824
-1    3728
Name: indicator_15min, dtype: int64

In [180]:
X_train.shape

(30205,)

In [181]:
X_val.shape

(7552,)

In [182]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [183]:
tfv = TfidfVectorizer(min_df=0.1, max_features=None, strip_accents='unicode', analyzer='word',ngram_range=(1, 3), use_idf=1,smooth_idf=1,sublinear_tf=1)

In [184]:
tfv.fit(list(X_train) + list(X_val))

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=0.1, ngram_range=(1, 3), norm='l2', preprocessor=None,
                smooth_idf=1, stop_words=None, strip_accents='unicode',
                sublinear_tf=1, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=1, vocabulary=None)

In [185]:
xtrain_tfv =  tfv.transform(X_train) 
xvalid_tfv = tfv.transform(X_val)

In [186]:
from sklearn.naive_bayes import MultinomialNB #building a multinomial naive bayes model for binary classification task

In [187]:
#Naive Bayes on TFIDF
clf = MultinomialNB()
clf.fit(xtrain_tfv, y_train)
y_pred = clf.predict(xvalid_tfv)

In [188]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_pred,y_val))
print(accuracy_score(y_pred,y_val))
print(classification_report(y_pred,y_val))

[[ 283  280]
 [3445 3544]]
0.5067531779661016
              precision    recall  f1-score   support

          -1       0.08      0.50      0.13       563
           1       0.93      0.51      0.66      6989

    accuracy                           0.51      7552
   macro avg       0.50      0.50      0.39      7552
weighted avg       0.86      0.51      0.62      7552

In [189]:
#cnn

In [190]:
from tensorflow.keras.preprocessing.text import Tokenizer
max_words=10000
tokenizer=Tokenizer(max_words)
tokenizer.fit_on_texts(df['Message'])
sequence_train=tokenizer.texts_to_sequences(X_train)
sequence_test=tokenizer.texts_to_sequences(X_val)

In [191]:
word_2_vec=tokenizer.word_index
V=len(word_2_vec)
print('Dataset has {} number of independent tokens'.format(V))

Dataset has 12790 number of independent tokens

In [192]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
data_train=pad_sequences(sequence_train)
data_train.shape

(30205, 308)

In [193]:
T=data_train.shape[1]
data_test=pad_sequences(sequence_test,maxlen=T)
data_test.shape

(7552, 308)

In [194]:
from keras.regularizers import l1,l2,l1_l2
from keras.layers import Dense, Flatten, Dropout, AveragePooling1D,MaxPooling1D

In [195]:
from tensorflow.keras.layers import Input,Conv1D,MaxPooling1D,Dense,GlobalMaxPooling1D,Embedding
from tensorflow.keras.models import Model
D=20
i=Input((T,))
x=Embedding(V+1,D)(i)
x=Conv1D(32,3,kernel_initializer='he_uniform',activation='relu')(x)
x=MaxPooling1D(3)(x)
x=(Dropout(0.2))(x)
x=Conv1D(64,3,kernel_initializer='he_uniform',activation='relu')(x)
x=MaxPooling1D(3)(x)
x=(Dropout(0.2))(x)
x=Conv1D(128,3,kernel_initializer='he_uniform',activation='relu')(x)
x=GlobalMaxPooling1D()(x)
x=(Dropout(0.2))(x)
x=Dense(1,activation='sigmoid',kernel_regularizer=l2(0.01))(x)
model=Model(i,x)
model.summary()

Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         [(None, 308)]             0
_________________________________________________________________
embedding_4 (Embedding)      (None, 308, 20)           255820
_________________________________________________________________
conv1d_12 (Conv1D)           (None, 306, 32)           1952
_________________________________________________________________
max_pooling1d_8 (MaxPooling1 (None, 102, 32)           0
_________________________________________________________________
tf.identity_12 (TFOpLambda)  (None, 102, 32)           0
_________________________________________________________________
conv1d_13 (Conv1D)           (None, 100, 64)           6208
_________________________________________________________________
max_pooling1d_9 (MaxPooling1 (None, 33, 64)            0
_________________________________________________________________
tf.identity_13 (TFOpLambda)  (None, 33, 64)            0
_________________________________________________________________
conv1d_14 (Conv1D)           (None, 31, 128)           24704
_________________________________________________________________
global_max_pooling1d_4 (Glob (None, 128)               0
_________________________________________________________________
tf.identity_14 (TFOpLambda)  (None, 128)               0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 129
=================================================================
Total params: 288,813
Trainable params: 288,813
Non-trainable params: 0
_________________________________________________________________

In [215]:
model.compile(loss='binary_crossentropy',optimizer='RMSprop',metrics=['accuracy'])

In [199]:
y_train=y_train.astype(int)

In [200]:
y_val=y_val.astype(int)

In [216]:
cnn=model.fit(data_train,y_train,validation_data=(data_test,y_val),batch_size=128,epochs=128)

Epoch 1/128
236/236 [==============================] - 5s 18ms/step - loss: -7174685720576.0000 - accuracy: 0.0315 - val_loss: -392775532544.0000 - val_accuracy: 0.0311
Epoch 2/128
236/236 [==============================] - 4s 16ms/step - loss: -7352879153152.0000 - accuracy: 0.0376 - val_loss: -402495963136.0000 - val_accuracy: 0.0305
Epoch 3/128
236/236 [==============================] - 4s 16ms/step - loss: -7537418567680.0000 - accuracy: 0.0429 - val_loss: -412265971712.0000 - val_accuracy: 0.0307
Epoch 4/128
236/236 [==============================] - 4s 16ms/step - loss: -7724829507584.0000 - accuracy: 0.0305 - val_loss: -421513822208.0000 - val_accuracy: 0.2148
Epoch 5/128
236/236 [==============================] - 4s 15ms/step - loss: -7918795096064.0000 - accuracy: 0.0595 - val_loss: -431964815360.0000 - val_accuracy: 0.0314
Epoch 6/128
236/236 [==============================] - 4s 16ms/step - loss: -8109988249600.0000 - accuracy: 0.0511 - val_loss: -441972293632.0000 - val_accuracy: 0.0314
Epoch 7/128
236/236 [==============================] - 4s 16ms/step - loss: -8305589092352.0000 - accuracy: 0.0477 - val_loss: -452402741248.0000 - val_accuracy: 0.0312
Epoch 8/128
236/236 [==============================] - 4s 16ms/step - loss: -8508971417600.0000 - accuracy: 0.0327 - val_loss: -462810972160.0000 - val_accuracy: 0.0314
Epoch 9/128
236/236 [==============================] - 4s 16ms/step - loss: -8711976255488.0000 - accuracy: 0.0431 - val_loss: -474466222080.0000 - val_accuracy: 0.0314
Epoch 10/128
236/236 [==============================] - 4s 16ms/step - loss: -8924698771456.0000 - accuracy: 0.0425 - val_loss: -485501042688.0000 - val_accuracy: 0.0315
Epoch 11/128
236/236 [==============================] - 4s 16ms/step - loss: -9137067917312.0000 - accuracy: 0.0356 - val_loss: -496230367232.0000 - val_accuracy: 0.0316
Epoch 12/128
236/236 [==============================] - 4s 16ms/step - loss: -9349426577408.0000 - accuracy: 0.0333 - val_loss: -507513602048.0000 - val_accuracy: 0.0318
Epoch 13/128
236/236 [==============================] - 4s 15ms/step - loss: -9565898801152.0000 - accuracy: 0.1095 - val_loss: -519622164480.0000 - val_accuracy: 0.0311
Epoch 14/128
236/236 [==============================] - 4s 15ms/step - loss: -9792057769984.0000 - accuracy: 0.0305 - val_loss: -530817613824.0000 - val_accuracy: 0.0318
Epoch 15/128
236/236 [==============================] - 4s 15ms/step - loss: -10025184526336.0000 - accuracy: 0.0698 - val_loss: -543545131008.0000 - val_accuracy: 0.0314
Epoch 16/128
236/236 [==============================] - 4s 15ms/step - loss: -10263110615040.0000 - accuracy: 0.0534 - val_loss: -556158550016.0000 - val_accuracy: 0.0311
Epoch 17/128
236/236 [==============================] - 4s 15ms/step - loss: -10499628466176.0000 - accuracy: 0.0769 - val_loss: -568394514432.0000 - val_accuracy: 0.0314
Epoch 18/128
236/236 [==============================] - 4s 15ms/step - loss: -10745672630272.0000 - accuracy: 0.0599 - val_loss: -581198544896.0000 - val_accuracy: 0.0311
Epoch 19/128
236/236 [==============================] - 4s 16ms/step - loss: -10993294901248.0000 - accuracy: 0.0354 - val_loss: -593598676992.0000 - val_accuracy: 0.0315
Epoch 20/128
236/236 [==============================] - 4s 17ms/step - loss: -11245513080832.0000 - accuracy: 0.0413 - val_loss: -607447416832.0000 - val_accuracy: 0.0312
Epoch 21/128
236/236 [==============================] - 4s 17ms/step - loss: -11502666907648.0000 - accuracy: 0.0344 - val_loss: -621297139712.0000 - val_accuracy: 0.0315
Epoch 22/128
236/236 [==============================] - 4s 16ms/step - loss: -11764788887552.0000 - accuracy: 0.0541 - val_loss: -634755874816.0000 - val_accuracy: 0.0314
Epoch 23/128
236/236 [==============================] - 4s 16ms/step - loss: -12032481951744.0000 - accuracy: 0.0509 - val_loss: -649657253888.0000 - val_accuracy: 0.0306
Epoch 24/128
236/236 [==============================] - 4s 15ms/step - loss: -12303169748992.0000 - accuracy: 0.0301 - val_loss: -663738056704.0000 - val_accuracy: 0.0302
Epoch 25/128
236/236 [==============================] - 4s 15ms/step - loss: -12577089257472.0000 - accuracy: 0.1216 - val_loss: -677759221760.0000 - val_accuracy: 0.0287
Epoch 26/128
236/236 [==============================] - 4s 15ms/step - loss: -12850580946944.0000 - accuracy: 0.0490 - val_loss: -692100661248.0000 - val_accuracy: 0.0290
Epoch 27/128
236/236 [==============================] - 4s 15ms/step - loss: -13130520330240.0000 - accuracy: 0.0298 - val_loss: -707115810816.0000 - val_accuracy: 0.0293
Epoch 28/128
236/236 [==============================] - 4s 15ms/step - loss: -13420790284288.0000 - accuracy: 0.0519 - val_loss: -722188173312.0000 - val_accuracy: 0.0294
Epoch 29/128
236/236 [==============================] - 4s 15ms/step - loss: -13713080844288.0000 - accuracy: 0.0358 - val_loss: -736528760832.0000 - val_accuracy: 0.0293
Epoch 30/128
236/236 [==============================] - 4s 15ms/step - loss: -14008555929600.0000 - accuracy: 0.0393 - val_loss: -751846424576.0000 - val_accuracy: 0.0298
Epoch 31/128
236/236 [==============================] - 3s 15ms/step - loss: -14316152553472.0000 - accuracy: 0.0363 - val_loss: -767097176064.0000 - val_accuracy: 0.0294
Epoch 32/128
236/236 [==============================] - 4s 15ms/step - loss: -14624088915968.0000 - accuracy: 0.0856 - val_loss: -782073528320.0000 - val_accuracy: 0.0293
Epoch 33/128
236/236 [==============================] - 4s 16ms/step - loss: -14935146889216.0000 - accuracy: 0.0370 - val_loss: -797690298368.0000 - val_accuracy: 0.0297
Epoch 34/128
236/236 [==============================] - 4s 16ms/step - loss: -15253299527680.0000 - accuracy: 0.0430 - val_loss: -813131825152.0000 - val_accuracy: 0.0305
Epoch 35/128
236/236 [==============================] - 4s 15ms/step - loss: -15577267568640.0000 - accuracy: 0.1028 - val_loss: -828874227712.0000 - val_accuracy: 0.0297
Epoch 36/128
236/236 [==============================] - 4s 15ms/step - loss: -15914966712320.0000 - accuracy: 0.0727 - val_loss: -846236680192.0000 - val_accuracy: 0.0291
Epoch 37/128
236/236 [==============================] - 4s 15ms/step - loss: -16247557193728.0000 - accuracy: 0.0317 - val_loss: -862432919552.0000 - val_accuracy: 0.0302
Epoch 38/128
236/236 [==============================] - 4s 15ms/step - loss: -16587963760640.0000 - accuracy: 0.0615 - val_loss: -879457468416.0000 - val_accuracy: 0.0294
Epoch 39/128
236/236 [==============================] - 4s 15ms/step - loss: -16935340212224.0000 - accuracy: 0.0307 - val_loss: -896627179520.0000 - val_accuracy: 0.0327
Epoch 40/128
236/236 [==============================] - 3s 15ms/step - loss: -17290875633664.0000 - accuracy: 0.0514 - val_loss: -914663079936.0000 - val_accuracy: 0.0302
Epoch 41/128
236/236 [==============================] - 3s 15ms/step - loss: -17649752866816.0000 - accuracy: 0.0681 - val_loss: -933179293696.0000 - val_accuracy: 0.0299
Epoch 42/128
236/236 [==============================] - 3s 14ms/step - loss: -18013914923008.0000 - accuracy: 0.0451 - val_loss: -951848665088.0000 - val_accuracy: 0.0298
Epoch 43/128
236/236 [==============================] - 4s 15ms/step - loss: -18383496019968.0000 - accuracy: 0.0292 - val_loss: -968903163904.0000 - val_accuracy: 0.0303
Epoch 44/128
236/236 [==============================] - 3s 15ms/step - loss: -18762967285760.0000 - accuracy: 0.0977 - val_loss: -987696005120.0000 - val_accuracy: 0.0290
Epoch 45/128
236/236 [==============================] - 3s 14ms/step - loss: -19134322573312.0000 - accuracy: 0.0288 - val_loss: -1007864119296.0000 - val_accuracy: 0.0298
Epoch 46/128
236/236 [==============================] - 3s 14ms/step - loss: -19519948980224.0000 - accuracy: 0.0529 - val_loss: -1027748986880.0000 - val_accuracy: 0.0302
Epoch 47/128
236/236 [==============================] - 4s 16ms/step - loss: -19916243599360.0000 - accuracy: 0.0546 - val_loss: -1045427978240.0000 - val_accuracy: 0.0291
Epoch 48/128
236/236 [==============================] - 4s 15ms/step - loss: -20316061433856.0000 - accuracy: 0.0677 - val_loss: -1064679571456.0000 - val_accuracy: 0.0290
Epoch 49/128
236/236 [==============================] - 4s 15ms/step - loss: -20721315086336.0000 - accuracy: 0.0630 - val_loss: -1086801313792.0000 - val_accuracy: 0.0291
Epoch 50/128
236/236 [==============================] - 4s 15ms/step - loss: -21126786842624.0000 - accuracy: 0.0298 - val_loss: -1108096974848.0000 - val_accuracy: 0.0294
Epoch 51/128
236/236 [==============================] - 3s 15ms/step - loss: -21543067320320.0000 - accuracy: 0.0287 - val_loss: -1129210576896.0000 - val_accuracy: 0.0295
Epoch 52/128
236/236 [==============================] - 3s 15ms/step - loss: -21972515815424.0000 - accuracy: 0.0821 - val_loss: -1151916048384.0000 - val_accuracy: 0.0290
Epoch 53/128
236/236 [==============================] - 3s 15ms/step - loss: -22396836773888.0000 - accuracy: 0.0284 - val_loss: -1173849767936.0000 - val_accuracy: 0.0295
Epoch 54/128
236/236 [==============================] - 3s 14ms/step - loss: -22841596575744.0000 - accuracy: 0.0314 - val_loss: -1197066813440.0000 - val_accuracy: 0.0303
Epoch 55/128
236/236 [==============================] - 3s 15ms/step - loss: -23291676852224.0000 - accuracy: 0.0419 - val_loss: -1220512317440.0000 - val_accuracy: 0.0293
Epoch 56/128
236/236 [==============================] - 3s 15ms/step - loss: -23753176121344.0000 - accuracy: 0.0418 - val_loss: -1242584449024.0000 - val_accuracy: 0.0295
Epoch 57/128
236/236 [==============================] - 3s 15ms/step - loss: -24209872912384.0000 - accuracy: 0.0342 - val_loss: -1265810669568.0000 - val_accuracy: 0.0295
Epoch 58/128
236/236 [==============================] - 3s 14ms/step - loss: -24666548731904.0000 - accuracy: 0.0418 - val_loss: -1287768506368.0000 - val_accuracy: 0.0293
Epoch 59/128
236/236 [==============================] - 3s 15ms/step - loss: -25129163685888.0000 - accuracy: 0.0487 - val_loss: -1312633257984.0000 - val_accuracy: 0.0295
Epoch 60/128
236/236 [==============================] - 3s 15ms/step - loss: -25597052977152.0000 - accuracy: 0.0326 - val_loss: -1337564069888.0000 - val_accuracy: 0.0293
Epoch 61/128
236/236 [==============================] - 4s 16ms/step - loss: -26087683784704.0000 - accuracy: 0.0348 - val_loss: -1362829901824.0000 - val_accuracy: 0.0295
Epoch 62/128
236/236 [==============================] - 4s 16ms/step - loss: -26575231778816.0000 - accuracy: 0.0366 - val_loss: -1385301016576.0000 - val_accuracy: 0.0298
Epoch 63/128
236/236 [==============================] - 4s 16ms/step - loss: -27084348981248.0000 - accuracy: 0.0858 - val_loss: -1412343529472.0000 - val_accuracy: 0.0290
Epoch 64/128
236/236 [==============================] - 4s 16ms/step - loss: -27583303385088.0000 - accuracy: 0.0360 - val_loss: -1437599137792.0000 - val_accuracy: 0.0291
Epoch 65/128
236/236 [==============================] - 4s 16ms/step - loss: -28105158688768.0000 - accuracy: 0.0317 - val_loss: -1465324011520.0000 - val_accuracy: 0.0291
Epoch 66/128
236/236 [==============================] - 4s 16ms/step - loss: -28624432398336.0000 - accuracy: 0.0611 - val_loss: -1492528660480.0000 - val_accuracy: 0.0291
Epoch 67/128
236/236 [==============================] - 4s 16ms/step - loss: -29162427383808.0000 - accuracy: 0.0344 - val_loss: -1521777115136.0000 - val_accuracy: 0.0293
Epoch 68/128
236/236 [==============================] - 4s 16ms/step - loss: -29712743137280.0000 - accuracy: 0.0648 - val_loss: -1550601551872.0000 - val_accuracy: 0.0289
Epoch 69/128
236/236 [==============================] - 4s 17ms/step - loss: -30256817766400.0000 - accuracy: 0.0694 - val_loss: -1578931322880.0000 - val_accuracy: 0.0277
Epoch 70/128
236/236 [==============================] - 4s 16ms/step - loss: -30813880057856.0000 - accuracy: 0.0277 - val_loss: -1609094791168.0000 - val_accuracy: 0.0275
Epoch 71/128
236/236 [==============================] - 4s 17ms/step - loss: -31376078274560.0000 - accuracy: 0.0439 - val_loss: -1636434313216.0000 - val_accuracy: 0.0269
Epoch 72/128
236/236 [==============================] - 4s 16ms/step - loss: -31944653930496.0000 - accuracy: 0.0835 - val_loss: -1663922470912.0000 - val_accuracy: 0.0270
Epoch 73/128
236/236 [==============================] - 4s 16ms/step - loss: -32523377704960.0000 - accuracy: 0.0442 - val_loss: -1690898530304.0000 - val_accuracy: 0.0271
Epoch 74/128
236/236 [==============================] - 4s 16ms/step - loss: -33117578461184.0000 - accuracy: 0.0829 - val_loss: -1723027554304.0000 - val_accuracy: 0.0267
Epoch 75/128
236/236 [==============================] - 4s 15ms/step - loss: -33719175872512.0000 - accuracy: 0.0269 - val_loss: -1753637453824.0000 - val_accuracy: 0.0271
Epoch 76/128
236/236 [==============================] - 4s 15ms/step - loss: -34319955394560.0000 - accuracy: 0.0630 - val_loss: -1783093657600.0000 - val_accuracy: 0.0277
Epoch 77/128
236/236 [==============================] - 4s 15ms/step - loss: -34935165419520.0000 - accuracy: 0.0313 - val_loss: -1813581791232.0000 - val_accuracy: 0.0274
Epoch 78/128
236/236 [==============================] - 4s 15ms/step - loss: -35565797900288.0000 - accuracy: 0.0317 - val_loss: -1842534154240.0000 - val_accuracy: 0.2148
Epoch 79/128
236/236 [==============================] - 3s 15ms/step - loss: -36200559673344.0000 - accuracy: 0.0975 - val_loss: -1875080249344.0000 - val_accuracy: 0.0271
Epoch 80/128
236/236 [==============================] - 3s 15ms/step - loss: -36829248094208.0000 - accuracy: 0.0437 - val_loss: -1908286816256.0000 - val_accuracy: 0.0270
Epoch 81/128
236/236 [==============================] - 4s 15ms/step - loss: -37472444612608.0000 - accuracy: 0.0663 - val_loss: -1943717019648.0000 - val_accuracy: 0.0271
Epoch 82/128
236/236 [==============================] - 4s 16ms/step - loss: -38137845776384.0000 - accuracy: 0.0385 - val_loss: -1976105566208.0000 - val_accuracy: 0.0279
Epoch 83/128
236/236 [==============================] - 4s 16ms/step - loss: -38806589800448.0000 - accuracy: 0.0410 - val_loss: -2009940099072.0000 - val_accuracy: 0.2144
Epoch 84/128
236/236 [==============================] - 4s 16ms/step - loss: -39484183805952.0000 - accuracy: 0.0630 - val_loss: -2045966155776.0000 - val_accuracy: 0.0271
Epoch 85/128
236/236 [==============================] - 4s 15ms/step - loss: -40169801515008.0000 - accuracy: 0.0260 - val_loss: -2081896529920.0000 - val_accuracy: 0.0274
Epoch 86/128
236/236 [==============================] - 4s 15ms/step - loss: -40861513547776.0000 - accuracy: 0.0290 - val_loss: -2119133954048.0000 - val_accuracy: 0.0279
Epoch 87/128
236/236 [==============================] - 4s 15ms/step - loss: -41580333367296.0000 - accuracy: 0.0330 - val_loss: -2152115863552.0000 - val_accuracy: 0.2141
Epoch 88/128
236/236 [==============================] - 3s 15ms/step - loss: -42305012629504.0000 - accuracy: 0.0995 - val_loss: -2190696513536.0000 - val_accuracy: 0.0271
Epoch 89/128
236/236 [==============================] - 3s 15ms/step - loss: -43026948816896.0000 - accuracy: 0.0272 - val_loss: -2227746897920.0000 - val_accuracy: 0.0271
Epoch 90/128
236/236 [==============================] - 3s 15ms/step - loss: -43765301510144.0000 - accuracy: 0.0380 - val_loss: -2264041259008.0000 - val_accuracy: 0.0279
Epoch 91/128
236/236 [==============================] - 3s 15ms/step - loss: -44508414738432.0000 - accuracy: 0.0449 - val_loss: -2302040080384.0000 - val_accuracy: 0.0283
Epoch 92/128
236/236 [==============================] - 3s 15ms/step - loss: -45253537038336.0000 - accuracy: 0.0479 - val_loss: -2341015912448.0000 - val_accuracy: 0.0283
Epoch 93/128
236/236 [==============================] - 4s 15ms/step - loss: -46032603840512.0000 - accuracy: 0.0336 - val_loss: -2377001205760.0000 - val_accuracy: 0.0293
Epoch 94/128
236/236 [==============================] - 4s 15ms/step - loss: -46813008625664.0000 - accuracy: 0.0448 - val_loss: -2416260939776.0000 - val_accuracy: 0.0290
Epoch 95/128
236/236 [==============================] - 4s 15ms/step - loss: -47599348350976.0000 - accuracy: 0.1095 - val_loss: -2456220073984.0000 - val_accuracy: 0.0270
Epoch 96/128
236/236 [==============================] - 3s 15ms/step - loss: -48385587412992.0000 - accuracy: 0.0322 - val_loss: -2496792625152.0000 - val_accuracy: 0.0281
Epoch 97/128
236/236 [==============================] - 3s 15ms/step - loss: -49188758880256.0000 - accuracy: 0.0371 - val_loss: -2536435875840.0000 - val_accuracy: 0.0290
Epoch 98/128
236/236 [==============================] - 4s 15ms/step - loss: -50005696053248.0000 - accuracy: 0.0624 - val_loss: -2581891907584.0000 - val_accuracy: 0.0279
Epoch 99/128
236/236 [==============================] - 4s 15ms/step - loss: -50845097918464.0000 - accuracy: 0.0282 - val_loss: -2620059549696.0000 - val_accuracy: 0.0290
Epoch 100/128
236/236 [==============================] - 3s 15ms/step - loss: -51659463983104.0000 - accuracy: 0.0583 - val_loss: -2661655511040.0000 - val_accuracy: 0.2142
Epoch 101/128
236/236 [==============================] - 4s 15ms/step - loss: -52516435787776.0000 - accuracy: 0.0430 - val_loss: -2704020865024.0000 - val_accuracy: 0.0283
Epoch 102/128
236/236 [==============================] - 4s 15ms/step - loss: -53374468751360.0000 - accuracy: 0.0801 - val_loss: -2749450158080.0000 - val_accuracy: 0.0271
Epoch 103/128
236/236 [==============================] - 4s 15ms/step - loss: -54252202360832.0000 - accuracy: 0.0380 - val_loss: -2793702162432.0000 - val_accuracy: 0.0274
Epoch 104/128
236/236 [==============================] - 4s 15ms/step - loss: -55131919876096.0000 - accuracy: 0.0490 - val_loss: -2837865037824.0000 - val_accuracy: 0.2142
Epoch 105/128
236/236 [==============================] - 4s 15ms/step - loss: -56021363982336.0000 - accuracy: 0.0749 - val_loss: -2885655461888.0000 - val_accuracy: 0.0270
Epoch 106/128
236/236 [==============================] - 3s 15ms/step - loss: -56926121492480.0000 - accuracy: 0.0292 - val_loss: -2929014341632.0000 - val_accuracy: 0.0269
Epoch 107/128
236/236 [==============================] - 4s 15ms/step - loss: -57836021219328.0000 - accuracy: 0.0423 - val_loss: -2975955681280.0000 - val_accuracy: 0.0271
Epoch 108/128
236/236 [==============================] - 4s 16ms/step - loss: -58750673092608.0000 - accuracy: 0.0284 - val_loss: -3019575394304.0000 - val_accuracy: 0.0282
Epoch 109/128
236/236 [==============================] - 4s 16ms/step - loss: -59691220598784.0000 - accuracy: 0.0383 - val_loss: -3067501871104.0000 - val_accuracy: 0.2141
Epoch 110/128
236/236 [==============================] - 4s 16ms/step - loss: -60639259131904.0000 - accuracy: 0.0835 - val_loss: -3121824399360.0000 - val_accuracy: 0.0279
Epoch 111/128
236/236 [==============================] - 4s 16ms/step - loss: -61632310935552.0000 - accuracy: 0.0287 - val_loss: -3168166215680.0000 - val_accuracy: 0.0287
Epoch 112/128
236/236 [==============================] - 4s 16ms/step - loss: -62612322648064.0000 - accuracy: 0.0599 - val_loss: -3214969667584.0000 - val_accuracy: 0.0279
Epoch 113/128
236/236 [==============================] - 4s 15ms/step - loss: -63608876695552.0000 - accuracy: 0.0368 - val_loss: -3263932137472.0000 - val_accuracy: 0.0278
Epoch 114/128
236/236 [==============================] - 4s 15ms/step - loss: -64599051206656.0000 - accuracy: 0.0392 - val_loss: -3315408044032.0000 - val_accuracy: 0.0281
Epoch 115/128
236/236 [==============================] - 4s 15ms/step - loss: -65631546245120.0000 - accuracy: 0.0492 - val_loss: -3369578266624.0000 - val_accuracy: 0.0290
Epoch 116/128
236/236 [==============================] - 4s 15ms/step - loss: -66664938864640.0000 - accuracy: 0.0753 - val_loss: -3423091818496.0000 - val_accuracy: 0.0282
Epoch 117/128

In [211]:

from sklearn.metrics import confusion_matrix,classification_report

In [147]:
#LSTM

In [155]:
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from keras.utils.np_utils import to_categorical
from keras.callbacks import EarlyStopping
from keras.layers import Dropout
from tqdm.notebook import tqdm
from keras.preprocessing import sequence

In [160]:
#Max wwords for processing 
MAX_NB_WORDS = 10000
# Max number of words in a sequence
MAX_SEQUENCE_LENGTH = 250
#fixed
EMBEDDING_DIM = 100

tokenizer = Tokenizer(num_words=MAX_NB_WORDS)
tokenizer.fit_on_texts(df['Message'].values)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 12790 unique tokens.

In [162]:
X1 = tokenizer.texts_to_sequences(df['Message'].values)
X1 = pad_sequences(X1, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', X1.shape)

Shape of data tensor: (37757, 250)

In [168]:
Y1 = y.values.astype(int)
print('Shape of label tensor:', Y1.shape)

Shape of label tensor: (37757,)

In [169]:
X_train, X_test, Y_train, Y_test = train_test_split(X1,Y1, test_size = 0.20, random_state = 42)
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(30205, 250) (30205,)
(7552, 250) (7552,)

In [170]:
Y1.dtype

dtype('int64')

In [171]:
model = Sequential()
model.add(Embedding(MAX_NB_WORDS, EMBEDDING_DIM, input_length=X1.shape[1]))
model.add(SpatialDropout1D(0.2))
model.add(LSTM(100, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid', kernel_regularizer=l2(0.01)))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
print(model.summary())

WARNING:tensorflow:Layer lstm_5 will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.
Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_5 (Embedding)      (None, 250, 100)          1000000
_________________________________________________________________
spatial_dropout1d_3 (Spatial (None, 250, 100)          0
_________________________________________________________________
lstm_5 (LSTM)                (None, 100)               80400
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 101
=================================================================
Total params: 1,080,501
Trainable params: 1,080,501
Non-trainable params: 0
_________________________________________________________________
None

In [172]:
epochs = 5
batch_size = 128

history = model.fit(X_train, Y_train, epochs=epochs, batch_size=batch_size,validation_split=0.2,callbacks=[EarlyStopping(monitor='val_loss', patience=3, min_delta=0.0001)])

Epoch 1/5
189/189 [==============================] - 258s 1s/step - loss: 0.1836 - accuracy: 0.0121 - val_loss: 0.0266 - val_accuracy: 0.0000e+00
Epoch 2/5
189/189 [==============================] - 253s 1s/step - loss: 0.0919 - accuracy: 0.0000e+00 - val_loss: -0.0233 - val_accuracy: 3.3107e-04
Epoch 3/5
189/189 [==============================] - 253s 1s/step - loss: -0.4970 - accuracy: 0.0105 - val_loss: -0.1613 - val_accuracy: 0.0204
Epoch 4/5
189/189 [==============================] - 254s 1s/step - loss: -2.3189 - accuracy: 0.0736 - val_loss: -0.2597 - val_accuracy: 0.0467
Epoch 5/5
189/189 [==============================] - 252s 1s/step - loss: -4.8371 - accuracy: 0.0956 - val_loss: -0.3929 - val_accuracy: 0.0571